/target/
.idea

.settings
.metadata
.classpath
.project

resultados

evolutionData.csv
avgAndBestEvolution.csv
solutionsFromMultipleRuns.csv

aspersores_1.csv
aspersores_2.csv
aspersores_3.csv
riegoTotal_1.csv
riegoTotal_2.csv
riegoTotal_3.csv

weighted1.csv
weighted2.csv
bestForObj0.csv

paretoFront.csv
